body {
  font-family: "Comic Neue", cursive;
}

/* Floating button */
#chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2e7d32;
  color: white;
  padding: 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
}

/* Chat window */
#chat-widget {
  position: fixed;
  bottom: 80px;
  right: 20px;
  width: 320px;
  height: 420px;
  background: linear-gradient(to right, #9ce8ac, #d9fbd9 );
  border-radius: 20px; /*adjust the roundness of the box*/
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  display: none;
}

/* Header */
#chat-header {
  background: linear-gradient(to right, #7aa77c, #6ea87a, #a1b8a1);
  color: white;
  padding: 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

#close-chat {
  cursor: pointer;
  font-weight: bold;
  padding-left: 10px;
}

#close-chat:hover {
    filter: drop-shadow(0 0 5px rgba(236, 146, 9, 0.836));
    transform: scale(1.05);
    transition: 0.3s ease;
}

/* Messages */
#chat-messages {
  flex: 1;
  padding: px;
  overflow-y: auto;
  font-size: 14px;
}

/* Input area */
#chat-input-area {
  display: flex;
  padding: 12px;
  background: linear-gradient(to right, #7aa77c, #6ea87a, #a1b8a1);
  border-top: 1px solid #eee;
}

#chat-input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 25px;   /* rounded pill */
  border: 1px solid #ccc;
  outline: none;
  font-size: 14px;
}

#chat-input:focus {
  border-color: #2e7d32;
}

#send-btn {
  margin-left: 8px;
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  background: #2e7d32;
  color: white;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s ease;
}

#send-btn:hover {
  background: #256628;
}